<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  

    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <header>
        <div class="container_nav">
          <div class="logo">
            <button onclick="location.href='/'">
                <img src="/static/img/hd_logo.png" alt="logo">
              </button>
        </div>
          <nav class="header_nav">
            <div class="header_link">
                <a href="http://pf.kakao.com/_nxoBixj/chat">고객센터</a>
                <form action="/login">
                    <div>로그인</div>
                    <button type="submit"></button>
                </form>
              </div>
          </nav>
        </div>
        <a href="http://pf.kakao.com/_nxoBixj/chat" class="talk_channel">
          <img src="/static/img/kakao.png" alt="">
        </a>
      </header>
    <div class="wrapLogIn">
        <div class="logInTitle">로그인</div>
        <input class="idInput" placeholder="아이디를 입력해주세요."/>
        <input type="password" class="pwInput" placeholder="비밀번호를 입력해주세요."/>
        <div class="logInBtn">로그인하기</div>
        <div class="orText">또는</div>
        <div class="socialLogIn">
            <a href="/">
                <img class="kakaoLogIn" alt="kakao" src="/static/img/kakao_login_large_wide.png"></img>
            </a>
        </div>
        <div class="goSignUp">아직 <span class="signUp">회원</span>이 아니신가요?</div>
        <div class="findIdPw"><a href="/">ID/PW</a>를 잊어버리셨나요?</div>
    </div>
</body>
</html>